git+https://github.com/NVlabs/nvdiffrast.git

ninja
pybind11

diffusers
einops
opencv-python
numpy
safetensors==0.4.2
torch
transformers==4.49.0
torchvision
#taming-transformers-rom1504
#ConfigArgParse
#ipdb
omegaconf
huggingface-hub

#sentencepiece
tqdm

# Mesh Processing
cvcuda_cu12
kornia
meshlib==3.0.4.121
open3d==0.19.0
pygltflib
pymeshlab==2022.2.post4
spandrel==0.4.1
trimesh
xatlas
#facexlib

# Training
accelerate
#pytorch_lightning
#scikit-learn
#scikit-image

# Demo only
gradio
fastapi
uvicorn
rembg
onnxruntime
#gevent
#geventhttpclient

# Additional post processing
timm
PyNanoInstantMeshes
aura-sr

mmgp==3.1.3